/* Text Elements */

h1 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

h4 {
  margin-top: .437rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.4;
}

h4.welcome-subtitle {
  color: #fff;
}

p.paragraph {
  color: #808080;
  font-weight: 300;
  font-size: .81rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5rem;
}

p.paragraph.intro-paragraph {
  margin-right: auto;
  margin-bottom: 1.25rem;
  margin-left: auto;
  max-width: 50rem;
  color: rgba(30, 30, 30, .5);
  text-align: center;
  font-size: 1.06rem;
  line-height: 1.3rem;
}

p.paragraph.status-msg-text {
  color: #f00;
  text-align: center;
  font-size: .93rem;
  line-height: 2rem;
}

span.text-element.manage-label {
  float: left;
  padding-top: .25rem;
  padding-bottom: .25rem;
  color: #fc6300;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Roboto', cursive;
}

span.text-element.manage-label.manage-msg {
  text-align: left;
  text-transform: none;
  font-size: 12px;
}

span.text-element#text-1 {
  text-align: right;
}

span.text-element#text-2 {
  float: right;
  text-align: right;
}

span.text-element#text-4 {
  text-align: right;
}

span.text-element.read-only-value-text {
  margin-bottom: .5rem;
  color: #4b4b4b;
  font-size: 16px;
  font-family: 'Roboto', cursive;
}

span.text-element#text-2-copy-1 {
  float: right;
  text-align: right;
}

span.text-element#item-path-text {
  padding-top: 4px;
  text-align: left;
  font-size: 14px;
}

span.text-element#destination-path-text {
  padding-top: 4px;
  text-align: left;
  font-size: 14px;
}

span.text-element#parent-path-text {
  padding-top: 4px;
  text-align: left;
  font-size: 14px;
}

span.text-element.generated-password {
  background-color: #dfeef0;
  text-align: center;
  font-size: 16px;
  font-family: 'Roboto', cursive;
}

a.link-text.text-link-1 {
  float: right;
  padding: .5rem;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', cursive;
}

a.link-text.path-component-link {
  color: #0062a4;
  font-size: 14px;
  font-family: 'Roboto', cursive;
}

a.link-text.text-link-1:hover {
  color: #fc6300;
}

/* Interaction Elements */

a.link-button.btn.ignition {
  display: block;
  margin: .437rem auto;
  padding: 1.375rem 1.25rem 1.25rem;
  max-width: 50rem;
  width: 100%;
  background-color: #fc6300;
  color: #fff;
  font-weight: 300;
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
}

a.link-button.tree-entry-link-btn {
  margin: 2px;
  padding: 2px 8px;
  border-width: .0625rem;
  border-radius: 15px;
  background-color: #ff944e;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: 'Roboto', cursive;
}

a.link-button.tree-folder-link-btn {
  margin: 2px;
  padding: 2px 8px;
  border-width: .0625rem;
  border-radius: 15px;
  background-color: #fc6300;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: 'Roboto', cursive;
}

input[type=text].form-input {
  font-family: 'Roboto', cursive;
}

input[type=text].gen-password-input {
  font-size: 14px;
  font-family: 'Roboto', cursive;
}

input[type=number].number-1 {
  margin-left: 4px;
  padding-right: 5px;
  padding-left: 6px;
  max-width: 70px;
  font-size: 14px;
  font-family: 'Roboto', cursive;
}

input[type=password].form-password-input {
  font-family: 'Roboto', cursive;
}

input[type=password]#password-store-pw {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

input[type=password].password-1 {
  display: block;
  font-family: 'Roboto', cursive;
}

label.checkbox.password-option-checkbox {
  font-size: 14px;
  font-family: 'Roboto', cursive;
}

label.label.entry-label {
  float: right;
  color: #fc6300;
  text-align: right;
  text-transform: uppercase;
  font-family: 'Roboto', cursive;
}

/* Layout Elements */

body {
  height: 100%;
}

body > .row.nav-row {
  width: 100%;
  background-color: #4c4c4c;
}

body > .row.wecome-row {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  background-color: #333;
}

body > .row.full-width-row {
  margin-top: 25px;
  margin-bottom: 25px;
  max-width: none;
}

body > .row > [class*='col-xs-'].ignition {
  margin-bottom: 0;
  padding-top: 0;
  padding-right: .625rem;
  padding-left: .625rem;
  min-height: auto;
}

body > .row.rocket {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url('../images/lock.png');
  background-attachment: scroll;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: cover;
  background-repeat: repeat;
}

body > .row > [class*='col-xs-'].welcome-column {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: center;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}

body > .row.row-1 {
  min-height: 20px;
}

body > .row#row-1 {
  background-image: url('../images/Drawers.png');
}

body > .row.row-2 {
  margin-bottom: 15px;
}

body > .row > [class*='col-xs-'].column-6 {
  padding-right: 0;
  padding-left: 4px;
}

body > .row > [class*='col-xs-'].column-7 {
  padding-right: 4px;
}

body > .row > [class*='col-xs-'].column-8 {
  padding-right: 4px;
}

body > .row.row-4 {
  margin-top: 7px;
}

.subgrid > .row > [class*='col-xs-'].subgrid-column-1 {
  float: left;
  text-align: right;
}

.subgrid > .row > [class*='col-xs-'].subgrid-column-2 {
  text-align: right;
}

.subgrid > .row > [class*='col-xs-'].subgrid-column-3 {
  text-align: right;
}

.subgrid > .row > [class*='col-xs-'].subgrid-column-4 {
  text-align: right;
}

.subgrid > .row > [class*='col-xs-'].subgrid-column-5 {
  text-align: right;
}

.subgrid > .row > [class*='col-xs-'].subgrid-column-6 {
  text-align: right;
}

.subgrid > .row > [class*='col-xs-'].subgrid-column-7 {
  text-align: right;
}

.container-fluid.nav-container {
  max-width: 75rem;
}

a.responsive-picture.logo {
  float: left;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 5.562rem;
}

button.btn.ignition {
  display: block;
  margin: .4375em auto .4375rem;
  padding: 1.375rem 1.25rem 1.25rem;
  max-width: 50rem;
  width: 100%;
  background-color: #fc6300;
  color: #fff;
  font-weight: 300;
  font-family: 'Roboto Condensed', cursive;
}

button.dropdown-btn {
  min-width: 160px;
  border-style: none;
  background-color: #dfeef0;
  text-align: left;
  text-transform: uppercase;
  font-family: 'Roboto', cursive;
}

ul.list-container.list-container-1 {
  margin-bottom: 0;
  list-style-position: inside;
  list-style-type: none;
}

ul.list-container#list-container-1 {
  margin-bottom: 0;
}

button#button-1 {
  margin-right: 5px;
  margin-left: 6px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Roboto', cursive;
}

@media screen and (min-width: 36rem) {
  /* Text Elements */

  p.paragraph {
    font-size: 1.25rem;
    line-height: 1.53rem;
  }

  p.paragraph.intro-paragraph {
    line-height: 1.3rem;
  }

  p.paragraph.status-msg-text {
    color: #f00;
    text-align: center;
    font-size: .93rem;
    line-height: 2rem;
  }

  span.text-element.manage-label {
    color: #fc6300;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Roboto', cursive;
  }

  span.text-element.manage-label.manage-msg {
    font-size: 13px;
  }

  a.link-text.text-link-1 {
    float: right;
    padding: .5rem;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', cursive;
  }

  a.link-text.text-link-1:hover {
    color: #fc6300;
  }

  /* Layout Elements */

  body > .row > [class*='col-xs-'].ignition {
    margin-bottom: 0;
    min-height: auto;
  }

  a.responsive-picture.logo {
    margin-top: 0;
    background-image: none;
    background-attachment: scroll;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 0 0;
    background-repeat: no-repeat;

    background-blend-mode: normal;
  }

  button.btn.ignition {
    display: block;
    margin: .4375em auto .4375rem;
    padding: 1.375rem 1.25rem 1.25rem;
    max-width: 50rem;
    width: 100%;
    background-color: #fc6300;
    color: #fff;
    font-weight: 300;
    font-family: 'Roboto Condensed', cursive;
  }

  ul.list-container.list-container-1 {
    padding-left: 40px;
  }
}

@media screen and (min-width: 48rem) {
  /* Text Elements */

  p.paragraph {
    font-weight: 300;
    font-size: .93rem;
    line-height: 1.7rem;
  }

  p.paragraph.intro-paragraph {
    font-size: 1.25rem;
  }

  p.paragraph.status-msg-text {
    color: #f00;
    text-align: center;
  }

  span.text-element.manage-label {
    color: #fc6300;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Roboto', cursive;
  }

  span.text-element.manage-label.manage-msg {
    font-size: 14px;
  }

  span.text-element#item-path-text {
    font-size: 16px;
  }

  span.text-element#destination-path-text {
    font-size: 16px;
  }

  span.text-element#parent-path-text {
    font-size: 16px;
  }

  a.link-text.text-link-1 {
    float: right;
    padding: .5rem;
    color: #fff;
    font-family: 'Roboto Condensed', cursive;
  }

  a.link-text.path-component-link {
    font-size: 16px;
  }

  a.link-text.text-link-1:hover {
    color: #fc6300;
  }

  /* Interaction Elements */

  a.link-button.tree-entry-link-btn {
    font-size: 16px;
  }

  a.link-button.tree-folder-link-btn {
    font-size: 16px;
  }

  input[type=text].gen-password-input {
    font-size: 16px;
  }

  input[type=number].number-1 {
    font-size: 16px;
  }

  label.checkbox.password-option-checkbox {
    font-size: 15px;
  }

  /* Layout Elements */

  body > .row.wecome-row {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  body > .row.rocket {
    padding-top: 18.75rem;
    padding-bottom: 18.75rem;
  }

  body > .row > [class*='col-xs-'].ignition {
    margin-bottom: 0;
    min-height: auto;
  }

  a.responsive-picture.logo {
    float: left;
    margin-top: 0;
    width: auto;
    background-image: none;
    background-attachment: scroll;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 0 0;
    background-repeat: no-repeat;

    background-blend-mode: normal;
  }

  button.btn.ignition {
    position: static;
    display: block;
    margin: .4375em auto .4375rem;
    padding: 1.375rem 1.25rem 1.25rem;
    max-width: 50rem;
    width: 100%;
    background-color: #fc6300;
    color: #fff;
    font-weight: 300;
    font-family: 'Roboto Condensed', cursive;
  }

  ul.list-container.list-container-1 {
    padding-left: 10px;
  }
}

@media screen and (min-width: 62rem) {
  /* Text Elements */

  p.paragraph {
    font-size: .93rem;
    line-height: 2rem;
  }

  p.paragraph.intro-paragraph {
    font-size: 1.5rem;
    line-height: 1.93rem;
  }

  p.paragraph.status-msg-text {
    color: #f00;
    text-align: center;
  }

  span.text-element.manage-label {
    color: #fc6300;
    font-size: 17px;
    font-family: 'Roboto', cursive;
  }

  span.text-element.manage-label.manage-msg {
    font-size: 15px;
  }

  span.text-element#item-path-text {
    font-size: 17px;
  }

  span.text-element#destination-path-text {
    font-size: 17px;
  }

  span.text-element#parent-path-text {
    font-size: 17px;
  }

  a.link-text.text-link-1 {
    float: right;
    padding: .5rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', cursive;
  }

  a.link-text.path-component-link {
    font-size: 17px;
  }

  a.link-text.text-link-1:hover {
    color: #fc6300;
  }

  /* Interaction Elements */

  a.link-button.btn.ignition {
    background-color: #fc6300;
  }

  a.link-button.ignition {
    background-color: #fc5c00;
  }

  a.link-button.tree-entry-link-btn {
    font-size: 17px;
  }

  a.link-button.tree-folder-link-btn {
    font-size: 17px;
  }

  input[type=text].gen-password-input {
    font-size: 17px;
  }

  input[type=number].number-1 {
    font-size: 17px;
  }

  label.checkbox.password-option-checkbox {
    font-size: 17px;
  }

  /* Layout Elements */

  body > .row.wecome-row {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  body > .row.rocket {
    padding-top: 25rem;
    padding-bottom: 25rem;
  }

  body > .row > [class*='col-xs-'].ignition {
    margin-bottom: 0;
    min-height: auto;
  }

  button.btn.ignition {
    position: static;
    display: block;
    margin: .4375em auto .4375rem;
    padding: 1.375rem 1.25rem 1.25rem;
    max-width: 50rem;
    width: 100%;
    background-color: #fc6300;
    color: #fff;
    font-weight: 300;
    font-family: 'Roboto Condensed', cursive;

    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
            align-self: auto;
  }

  ul.list-container.list-container-1 {
    padding-left: 8px;
    list-style-position: outside;
  }
}

@media screen and (min-width: 75rem) {
  /* Text Elements */

  p.paragraph.status-msg-text {
    text-align: center;
  }

  span.text-element.manage-label {
    position: static;
    display: block;
    color: #fc6300;
    font-size: 18px;
    font-family: 'Roboto', cursive;
  }

  span.text-element.manage-label.manage-msg {
    font-size: 16px;
  }

  span.text-element#item-path-text {
    text-align: left;
    font-size: 18px;
  }

  span.text-element#destination-path-text {
    text-align: left;
    font-size: 18px;
  }

  span.text-element#parent-path-text {
    text-align: left;
    font-size: 18px;
  }

  a.link-text.text-link-1 {
    float: right;
    padding: .5rem;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', cursive;
  }

  a.link-text.path-component-link {
    font-size: 18px;
  }

  /* Interaction Elements */

  a.link-button.btn.ignition {
    background-color: #fc6300;
  }

  a.link-button.tree-entry-link-btn {
    font-size: 18px;
  }

  a.link-button.tree-folder-link-btn {
    font-size: 18px;
  }

  input[type=text].gen-password-input {
    font-size: 18px;
  }

  input[type=number].number-1 {
    font-size: 18px;
  }

  label.checkbox.password-option-checkbox {
    font-size: 18px;
  }

  /* Layout Elements */

  body > .row.rocket {
    padding-top: 25rem;
    background-image: url('../images/lock.png');
  }

  body > .row > [class*='col-xs-'].ignition {
    margin-bottom: 0;
    min-height: auto;
  }

  body > .row.full-width-row {
    margin-top: 20px;
  }

  a.responsive-picture.logo {
    max-width: 5.56rem;
    background-image: none;
    background-attachment: scroll;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 0 0;
    background-repeat: no-repeat;

    background-blend-mode: normal;
  }

  button.btn.ignition {
    background-color: #fc6300;
  }
}