/* Text Elements */

h1 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

h4 {
  margin-top: .437rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.4;
}

h4.welcome-subtitle {
  color: #fff;
}

p.paragraph {
  color: #808080;
  font-weight: 300;
  font-size: .81rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5rem;
}

p.paragraph.intro-paragraph {
  margin-right: auto;
  margin-bottom: 1.25rem;
  margin-left: auto;
  max-width: 50rem;
  color: rgba(30, 30, 30, .5);
  text-align: center;
  font-size: 1.06rem;
  line-height: 1.3rem;
}

p.paragraph.error-msg-prompt {
  color: #f00;
  text-align: center;
  font-size: .93rem;
  line-height: 2rem;
}

span.text-element.manage-label {
  margin-top: 16px;
  color: #fc6300;
  text-align: right;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Roboto', cursive;
}

span.text-element#text-2 {
  text-align: center;
}

a.link-text.text-link-1 {
  float: right;
  padding: .5rem;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', cursive;
}

a.link-text.text-link-1:hover {
  color: #fc6300;
}

/* Interaction Elements */

a.link-button.btn.ignition {
  display: block;
  margin: .437rem auto;
  padding: 1.375rem 1.25rem 1.25rem;
  max-width: 50rem;
  width: 100%;
  background-color: #fc6300;
  color: #fff;
  font-weight: 300;
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
}

input[type=password].password-1 {
  display: block;
  margin-right: auto;
  margin-bottom: 1.25rem;
  margin-left: auto;
  max-width: 50rem;
  text-align: center;
}

/* Layout Elements */

body {
  height: 100%;
}

body > .row > [class*='col-xs-'] {
  padding-right: 10px;
  padding-left: 10px;
  min-height: 50px;
}

body > .row.nav-row {
  width: 100%;
  background-color: #4c4c4c;
}

body > .row.wecome-row {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  background-color: #333;
}

body > .row.full-width-row {
  margin-top: 60px;
  max-width: none;
}

body > .row > [class*='col-xs-'].ignition {
  margin-bottom: 0;
  padding-top: 0;
  padding-right: .625rem;
  padding-left: .625rem;
  min-height: auto;
}

body > .row.rocket {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url('../images/lock.png');
  background-attachment: scroll;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: cover;
  background-repeat: repeat;
}

body > .row > [class*='col-xs-'].welcome-column {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: center;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}

body > .row > [class*='col-xs-'].column-2 {
  min-height: auto;
}

.subgrid > .row > [class*='col-xs-'].subgrid-column-1 {
  float: left;
  text-align: right;
}

.subgrid > .row > [class*='col-xs-'].subgrid-column-2 {
  text-align: right;
}

.container-fluid.nav-container {
  max-width: 75rem;
}

a.responsive-picture.logo {
  margin-top: .437rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 5.562rem;
}

button.btn.ignition {
  display: block;
  margin: .4375em auto .4375rem;
  padding: 1.375rem 1.25rem 1.25rem;
  max-width: 50rem;
  width: 100%;
  background-color: #fc6300;
  color: #fff;
  font-weight: 300;
  font-family: 'Roboto Condensed', cursive;
}

.row > [class*='col-xs-'] .html-element.html-element-2 {
  margin-top: 12px;
}

button.btn.manage-store-btn {
  float: right;
  margin: 1% 5px;
  background-color: #fc6300;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', cursive;
}

@media screen and (min-width: 36rem) {
  /* Text Elements */

  p.paragraph {
    font-size: 1.25rem;
    line-height: 1.53rem;
  }

  p.paragraph.intro-paragraph {
    line-height: 1.3rem;
  }

  p.paragraph.error-msg-prompt {
    color: #f00;
    text-align: center;
    font-size: .93rem;
    line-height: 2rem;
  }

  span.text-element.manage-label {
    margin-top: 17px;
    color: #fc6300;
    text-align: right;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Roboto', cursive;
  }

  span.text-element#text-2 {
    text-align: center;
  }

  a.link-text.text-link-1 {
    float: right;
    padding: .5rem;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', cursive;
  }

  a.link-text.text-link-1:hover {
    color: #fc6300;
  }

  /* Interaction Elements */

  input[type=password].password-1 {
    text-align: center;
  }

  label.label.label-2 {
    float: right;
  }

  label.label.label-3 {
    float: right;
  }

  /* Layout Elements */

  body > .row > [class*='col-xs-'].column-2 {
    min-height: auto;
  }

  body > .row > [class*='col-xs-'].ignition {
    margin-bottom: 0;
    min-height: auto;
  }

  a.responsive-picture.logo {
    background-image: none;
    background-attachment: scroll;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 0 0;
    background-repeat: no-repeat;

    background-blend-mode: normal;
  }

  button.btn.ignition {
    display: block;
    margin: .4375em auto .4375rem;
    padding: 1.375rem 1.25rem 1.25rem;
    max-width: 50rem;
    width: 100%;
    background-color: #fc6300;
    color: #fff;
    font-weight: 300;
    font-family: 'Roboto Condensed', cursive;
  }

  .row > [class*='col-xs-'] .html-element.html-element-2 {
    margin-top: 12px;
  }

  button.btn.manage-store-btn {
    float: right;
    margin: 1% 5px;
    background-color: #fc6300;
    color: #fefefe;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', cursive;
  }
}

@media screen and (min-width: 48rem) {
  /* Text Elements */

  p.paragraph {
    font-weight: 300;
    font-size: .93rem;
    line-height: 1.7rem;
  }

  p.paragraph.intro-paragraph {
    font-size: 1.25rem;
  }

  p.paragraph.error-msg-prompt {
    color: #f00;
    text-align: center;
  }

  span.text-element.manage-label {
    margin-top: 15px;
    color: #fc6300;
    text-align: right;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Roboto', cursive;
  }

  span.text-element#text-2 {
    text-align: center;
  }

  a.link-text.text-link-1 {
    float: right;
    padding: .5rem;
    color: #fff;
    font-family: 'Roboto Condensed', cursive;
  }

  a.link-text.text-link-1:hover {
    color: #fc6300;
  }

  /* Interaction Elements */

  input[type=password].password-1 {
    text-align: center;
  }

  /* Layout Elements */

  body > .row.wecome-row {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  body > .row.rocket {
    padding-top: 18.75rem;
    padding-bottom: 18.75rem;
  }

  body > .row > [class*='col-xs-'].column-2 {
    min-height: auto;
  }

  body > .row > [class*='col-xs-'].ignition {
    margin-bottom: 0;
    min-height: auto;
  }

  a.responsive-picture.logo {
    float: left;
    margin-top: 0;
    width: auto;
    background-image: none;
    background-attachment: scroll;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 0 0;
    background-repeat: no-repeat;

    background-blend-mode: normal;
  }

  button.btn.ignition {
    position: static;
    display: block;
    margin: .4375em auto .4375rem;
    padding: 1.375rem 1.25rem 1.25rem;
    max-width: 50rem;
    width: 100%;
    background-color: #fc6300;
    color: #fff;
    font-weight: 300;
    font-family: 'Roboto Condensed', cursive;
  }

  .row > [class*='col-xs-'] .html-element.html-element-2 {
    margin-top: 12px;
  }

  button.btn.manage-store-btn {
    float: right;
    margin: 1% 5px;
    background-color: #fc6300;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', cursive;
  }
}

@media screen and (min-width: 62rem) {
  /* Text Elements */

  p.paragraph {
    font-size: .93rem;
    line-height: 2rem;
  }

  p.paragraph.intro-paragraph {
    font-size: 1.5rem;
    line-height: 1.93rem;
  }

  p.paragraph.error-msg-prompt {
    color: #f00;
    text-align: center;
  }

  span.text-element.manage-label {
    margin-top: 15px;
    color: #fc6300;
    text-align: right;
    font-size: 17px;
    font-family: 'Roboto', cursive;
  }

  span.text-element#text-2 {
    text-align: center;
  }

  a.link-text.text-link-1 {
    float: right;
    padding: .5rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', cursive;
  }

  a.link-text.text-link-1:hover {
    color: #fc6300;
  }

  /* Interaction Elements */

  a.link-button.btn.ignition {
    background-color: #fc6300;
  }

  a.link-button.ignition {
    background-color: #fc5c00;
  }

  input[type=password].password-1 {
    text-align: center;
  }

  label.label.label-2 {
    float: right;
  }

  label.label.label-3 {
    float: right;
  }

  /* Layout Elements */

  body > .row.wecome-row {
    padding-top: 85px;
    padding-bottom: 85px;
  }

  body > .row.rocket {
    padding-top: 25rem;
    padding-bottom: 25rem;
  }

  body > .row > [class*='col-xs-'].column-2 {
    min-height: auto;
  }

  body > .row > [class*='col-xs-'].ignition {
    margin-bottom: 0;
    min-height: auto;
  }

  button.btn {
    position: relative;
    background-color: transparent;

    -webkit-align-self: center;
    -ms-flex-item-align: center;
            align-self: center;
  }

  button.btn.ignition {
    position: static;
    display: block;
    margin: .4375em auto .4375rem;
    padding: 1.375rem 1.25rem 1.25rem;
    max-width: 50rem;
    width: 100%;
    background-color: #fc6300;
    color: #fff;
    font-weight: 300;
    font-family: 'Roboto Condensed', cursive;

    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
            align-self: auto;
  }

  .row > [class*='col-xs-'] .html-element.html-element-1 {
    max-height: 1%;
  }

  .row > [class*='col-xs-'] .html-element.html-element-2 {
    margin-top: 12px;
  }

  button.btn.manage-store-btn {
    float: right;
    margin: 1% 5px;
    background-color: #fc6300;
    color: #fff;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 75rem) {
  /* Text Elements */

  p.paragraph.error-msg-prompt {
    text-align: center;
  }

  p.paragraph.status-msg-text {
    color: #fc6300;
    text-align: center;
  }

  span.text-element.manage-label {
    position: static;
    display: block;
    float: none;
    margin-top: 15px;
    color: #fc6300;
    font-size: 18px;
    font-family: 'Roboto', cursive;
  }

  span.text-element#text-1 {
    text-align: right;
  }

  span.text-element#text-2 {
    text-align: center;
    text-transform: uppercase;
  }

  a.link-text.text-link-1 {
    float: right;
    padding: .5rem;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', cursive;
  }

  /* Interaction Elements */

  a.link-button.btn.ignition {
    background-color: #fc6300;
  }

  input[type=password].password-1 {
    display: block;
    margin-right: auto;
    margin-bottom: 1.25rem;
    margin-left: auto;
    max-width: 50rem;
    width: auto;
    text-align: center;
    font-weight: 300;
    font-family: 'Roboto Condensed', cursive;

    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
            align-self: auto;
  }

  label.label.label-2 {
    float: right;
  }

  label.label.label-3 {
    float: right;
  }

  /* Layout Elements */

  body > .row > [class*='col-xs-'] {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  body > .row.rocket {
    padding-top: 25rem;
    background-image: url('../images/lock.png');
  }

  body > .row.row-1 {
    height: 50px;
  }

  body > .row > [class*='col-xs-'].column-1 {
    padding-right: .3rem;
    padding-bottom: 0;
    height: auto;
  }

  body > .row > [class*='col-xs-'].column-2 {
    min-height: auto;
  }

  body > .row > [class*='col-xs-'].ignition {
    margin-bottom: 0;
    min-height: auto;
  }

  a.responsive-picture.logo {
    max-width: 5.56rem;
    background-image: none;
    background-attachment: scroll;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 0 0;
    background-repeat: no-repeat;

    background-blend-mode: normal;
  }

  button.btn.ignition {
    background-color: #fc6300;
  }

  .row > [class*='col-xs-'] .html-element.html-element-2 {
    margin-top: 12px;
  }

  button.btn.manage-store-btn {
    float: right;
    margin: 1% 5px;
    background-color: #fc6300;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', cursive;
  }
}